.container {
    min-height: 100%;
    text-align: center;
   position: relative;
   
   
  }
  html,body {
    height: 100%;
  }
  
  footer {
    position: absolute;
    bottom: 0px;
    height: 0px;
    width: 100%;
  
  }